/* Auth Styles */
.btn:hover {
  color:white !important;
}
.max {
  max-width: 80%;
}

.mtop {
  margin-top: 5%
}

/* Home Styles */
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
  padding-top: 20px;

}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #c5c5c5;
  display: block;
  transition: 0.4s;
  border-left: solid 6px #1a1a1a;
}

.sidenav a:hover {
  color: #17a2b8;
  background-color: #1a1a1a;
  transition: 0.4s;
}
.active {
  color: #ffffff !important;
  border-left: solid 6px #17a2b8 !important;
  transition: 0.4s;
}
.main{
  width: calc(100% -150px)!important;
  min-height: 100vh;
  margin-left: 150px;
  margin-right: 0px !important;
  background-color: #202020;
}
.content-max{
  width: 90%;
}
.btn-group > .btn:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
/* End Home Styles */


.lesson{
  width: 54rem;
  transition: 0.3s ease-in-out;
}
.lesson:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  transform: scale(1.02,1.02);
  transition: 0.3s ease-in-out;
}

#elem-sidebar:hover{
  background-color: FAFAFA;
  color: #17A2B8;
}

.js{
  background-color: rgb(236, 193, 0);
}
.css{
  background-color: rgb(86, 149, 233);
}
.html{
  background-color: rgb(212, 74, 74);
}
.uxui{
  background: rgb(175,58,180);
  background: linear-gradient(43deg, rgba(175,58,180,1) 0%, rgba(98,158,246,1) 59%, rgba(69,252,228,1) 100%);
}